/* ========================================================================== Author's custom styles ========================================================================== */
/* Slider */
 #slider {
     float:right;
     display:block;
     border:4px solid #000;
     width:448px;
    /* slider width */
     height:286px;
    ;
    /* slider height */
     margin:0 left;
     background:white url('http://reader-download.googlecode.com/svn/trunk/images/nivo-loading.gif') no-repeat 50% 50%;
     overflow:hidden;
     position:relative;
}
/* For caption */
 #slider figcaption {
     display:block;
     background-color:black;
     font:normal normal 11px Arial,Sans-Serif;
     color:white;
     opacity:.8;
     padding:10px 15px;
     position:absolute;
     right:0;
     bottom:-100px;
    /* hide the caption with this way :) */
     left:0;
     z-index:44;
}
 #slider img {
     display:block;
     margin:0 0;
     width:448px;
    /* slide width */
     height:286px;
    /* slide height */
     position:absolute;
     top:0;
     left:0;
}
/* Navigation */
 #slider-nav {
     display:block;
     position:absolute;
     top:10px;
     right:10px;
     z-index:99;
}
 #slider-nav a {
     display:block;
     float:left;
     width:10px;
     height:10px;
     background-color:#111;
     font-size:0;
     color:transparent;
     overflow:hidden;
     text-indent:-99px;
     margin:0 2px 0 0;
     border:2px solid white;
     border-radius:100%;
     box-shadow:0 1px 2px rgba(0,0,0,.4);
}
 #slider-nav .active {
     background-color:#2589B4;
}
/* Hide all element inside the '#slider' until the page has been loaded! */
 #slider .container, #slider figcaption {
    display:none
}
 #slider-nav {
    opacity:0
}
