/* -------------------------------------------

Name: 		Sonix
Author:		Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). mail: miller.themes@gmail.com

------------------------------------------- */

svg path,
svg rect {
    fill: rgb(255,114,53);
}

.success i,
.menu-link.color:hover,
.color {
    color: rgb(255,114,53);
}

::-webkit-scrollbar-thumb,
.pagination ul li .active,
.circle-button,
.swiper-pagination-bullet-active,
.swiper-prev,
.swiper-next,
.more,
.finger,
.menu-btn,
.button-1,
.logo-fix {
    background-color: rgb(255,114,53);
}