@charset "utf-8";

/* FOR IE6 or Earlier */
body{SCROLLBAR-FACE-COLOR:#698091;SCROLLBAR-SHADOW-COLOR:black;SCROLLBAR-HIGHLIGHT-COLOR:#698091;SCROLLBAR-3DLIGHT-COLOR:#000000;SCROLLBAR-DARKSHADOW-COLOR:#698091;SCROLLBAR-TRACK-COLOR:#272727;SCROLLBAR-ARROW-COLOR:#000000;}
/* Links */
.special-link {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	-webkit-transiton: .2s all linear;
}
.special-link:hover {
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.special-link:link {
	margin: 0;
	font: bold 16px/1 "Roboto Condensed";
	color: #fff;
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
	-webkit-transition: .2s all linear;
	font-family: "Roboto Condensed";
	line-height: 1em;
	color: #fff9d6;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 0px 0px 0 rgb(208, 208, 208), 1px 1px 0 rgb(173, 173, 173), 2px 2px 0 rgb(138, 138, 138), 3px 3px 2px rgba(0, 0, 0, 0.6), 3px 3px 1px rgba(0, 0, 0, 0.5), 0px 0px 2px rgba(0, 0, 0, .2);
}