/* -------------------------------------------

Name: 		Sonix
Author:		Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). mail: miller.themes@gmail.com

------------------------------------------- */

.overlay {
    background-image: linear-gradient(-180deg, rgba(20, 20, 30, 0.75) 0%, rgba(20, 20, 100, 0.75) 18%, rgba(20, 20, 100, 0.75) 32%, rgba(20, 20, 30, 1) 95%);
    transition: .5s;
}

.overlay-2 {
    background-image: linear-gradient(-360deg, rgba(20, 20, 100, 0.70) 0, rgba(20, 20, 100, 0.70) 32%, rgba(20, 20, 30, 1) 100%);
    transition: .5s;
}

.overlay-3 {
    background-image: linear-gradient(-180deg, rgba(20, 20, 30, .5) 0%, rgba(20, 20, 30, 0.00) 15%, rgba(20, 20, 100, .8) 80%, rgba(20, 20, 30, .95) 95%);
    transition: .5s;
}
