.orinet-logo {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #08C941;
	font-weight: 400;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
	
	position: absolute;
	left: 96px;
	letter-spacing: .15em;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #007200, -2px 4px 1px #007400, -3px 6px 1px #007700, -4px 8px 1px #007a00;
}

.new-btn {
    z-index: 11;
    position: absolute;
	left: 85%;
	margin: 10% auto;
	-moz-box-shadow: 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow: 0px 1px 0px 0px #f29c93;
	box-shadow: 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:0px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}
.new-btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
	transition: 0.1s;
}
.new-btn:active {
	position:relative;
	transition: 0.1s;
	top:1px;
}

.special-link {
    z-index: 10;
    color: white;
    text-align: center;
    transition: all 0.5s;
    font-family: futura-pt, sans-serif;
	text-decoration: none;
	font-weight: bold;
	-webkit-transiton: .2s all linear;
}

.body {
  text-rendering: optimizeLegibility;
}

.special-link:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.special-link:link {
	margin: 0;
	font: bold 12px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
	-webkit-transition: .2s all linear;
	font-family: Garamond, serif;
	line-height: 1em;
	color: #fff9d6;
	font-weight:bold;
	font-size: 12px;
	text-shadow:0px 0px 0 rgb(208,208,208),1px 1px 0 rgb(173,173,173), 2px 2px 0 rgb(138,138,138),3px 3px 2px rgba(0,0,0,0.6),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}

.special-link:hover {
  text-decoration: underline;
}

.YTV-0 {
    z-index: 10;
    position: absolute;
	left: 5%;
	top: 55%;
	transition: 0.1s;
	margin: 0;
}

.YTV-1 {
    z-index: 10;
    position: absolute;
	left: 10%;
	top: 15%;
	transition: 0.1s;
	margin: 0;
}

.YTV-2 {
    z-index: 10;
    position: absolute;
	left: 60%;
	top: 15%;
	transition: 0.1s;
	margin: 0;
}

.YTV-3 {
    z-index: 10;
    position: absolute;
	left: 10%;
	top: 55%;
	transition: 0.1s;
	margin: 0;
}

.YTV-4 {
    z-index: 10;
    position: absolute;
	left: 60%;
	top: 55%;
	transition: 0.1s;
	margin: 0;
}

.doomguyfix {
    z-index: 10;
    position: absolute;
	left: 62%;
	top: -5%;
	transition: 0.1s;
	margin: 0;
	height: 125%;
	width: 75%;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

/* SBORKS1 */

.sborks1 {
	opacity: 0%;
	line-height: 2em;
	left: 0%;
	margin: 0% auto;
	font-family: Impact;
	font-size: 56px;
	word-spacing: 0px;
	color: #08C941;
	font-weight: 400;
	text-decoration: none;
	font-style: bold;
	font-variant: small-caps;
	text-transform: none;
	letter-spacing: .15em;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
}

@-webkit-keyframes sborks1-hover {
  0% { color: #f00; }
  33% { color: #00f; }  
  67% { color: #00f; }
  100% { color: #f00; }
}

@keyframes sborks1-hover {
  0% { color: #f00; }
  33% { color: #00f; }  
  67% { color: #00f; }
  100% { color: #f00; }
}

.sborks1:hover {
	-webkit-animation: sborks1-hover 1s infinite;
	animation: sborks1-hover 1s infinite;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
	opacity: 0%;
	border-bottom-color: green;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
	top:-2px;
}

.sborks1:link {
	border-bottom: 1px solid blue;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
}

.sborks1:visited {
	text-decoration: none;
}

/* SBORKS2 */

.sborks2 {
	opacity: 0%;
	line-height: 2em;
	left: 0%;
	margin: 0% auto;
	font-family: Impact;
	font-size: 56px;
	word-spacing: 0px;
	color: #08C941;
	font-weight: 400;
	text-decoration: none;
	font-style: bold;
	font-variant: small-caps;
	text-transform: none;
	letter-spacing: .15em;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
}

@-webkit-keyframes sborks2-hover {
  0% { color: #fdeaa8; }
  12% { color: #ff9900; }  
  25% { color: #fff; }  
  50% { color: #fff; }  
  75% { color: #fff; }
  87% { color: #ff9900; }
  100% { color: #08c941; }
}

@keyframes sborks2-hover {
  0% { color: #fdeaa8; }
  12% { color: #ff9900; }  
  25% { color: #fff; }  
  50% { color: #fff; }  
  75% { color: #fff; }
  87% { color: #ff9900; }
  100% { color: #08c941; }
}

.sborks2:hover {
	-webkit-animation: sborks2-hover 5s;
	animation: sborks2-hover 5s;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
	opacity: 0%;
	border-bottom-color: green;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
	top:-2px;
}

.sborks2:link {
	border-bottom: 1px solid blue;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
}

.sborks2:visited {
	text-decoration: none;
}

/* sborks3 */

.sborks3 {
	opacity: 0%;
	line-height: 2em;
	left: 0%;
	margin: 0% auto;
	font-family: Impact;
	font-size: 56px;
	word-spacing: 0px;
	color: #08C941;
	font-weight: 400;
	text-decoration: none;
	font-style: bold;
	font-variant: small-caps;
	text-transform: none;
	letter-spacing: .15em;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
}

@-webkit-keyframes sborks3-hover {
  0% { color: #08c941; }
  12% { color: #bbbbbb; }  
  25% { color: #08c941; }  
  50% { color: #bbbbbb; }  
  75% { color: #08c941; }
  87% { color: #bbbbbb; }
  100% { color: #08c941; }
}

@keyframes sborks3-hover {
  0% { color: #08c941; }
  12% { color: #bbbbbb; }  
  25% { color: #08c941; }  
  50% { color: #bbbbbb; }  
  75% { color: #08c941; }
  87% { color: #bbbbbb; }
  100% { color: #08c941; }
}

.sborks3:hover {
	-webkit-animation: sborks3-hover 2s infinite;
	animation: sborks3-hover 2s infinite;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
	opacity: 0%;
	border-bottom-color: green;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
	top:-2px;
}

.sborks3:link {
	border-bottom: 1px solid blue;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
}

.sborks3:visited {
	text-decoration: none;
}

/* sborks4 */

.sborks4 {
	opacity: 0%;
	line-height: 2em;
	left: 0%;
	margin: 0% auto;
	font-family: Impact;
	font-size: 56px;
	word-spacing: 0px;
	color: #08C941;
	font-weight: 400;
	text-decoration: none;
	font-style: bold;
	font-variant: small-caps;
	text-transform: none;
	letter-spacing: .15em;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
}

@-webkit-keyframes sborks4-hover1 {
  0% { color: #08c941; }
  33% { color: #600; }  
  67% { color: #bbbbbb; }
  100% { color: #08c941; }
}

@keyframes sborks4-hover1 {
  0% { color: #08c941; }
  33% { color: #600; }  
  67% { color: #bbbbbb; }
  100% { color: #08c941; }
}

@-webkit-keyframes sborks4-hover2 {
  0% { color: #b00; }  
  15% { color: #d00; }  
  25% { color: #f00; }
  50% { color: #d00; }  
  75% { color: #f00; }
  95% { color: #d00; }  
  100% { color: #f00; }
}

@keyframes sborks4-hover2 {
  0% { color: #b00; }  
  15% { color: #d00; }  
  25% { color: #f00; }
  50% { color: #d00; }  
  75% { color: #f00; }
  95% { color: #d00; }  
  100% { color: #f00; }
}

.sborks4:hover {
	-webkit-animation: sborks4-hover1 3s 1 linear, sborks4-hover2 6s infinite linear;
	animation: sborks4-hover1 3s 1 linear, sborks4-hover2 6s infinite linear;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
	opacity: 0%;
	border-bottom-color: green;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
	top:-2px;
}

.sborks4:link {
	border-bottom: 1px solid blue;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
}

.sborks4:visited {
	text-decoration: none;
}
