.orinet-logo {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
	word-spacing: 0px;
	color: #08C941;
	font-weight: 400;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
	
	position: absolute;
	left: 96px;
	letter-spacing: .15em;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #007200, -2px 4px 1px #007400, -3px 6px 1px #007700, -4px 8px 1px #007a00;
}

.new-btn {
    z-index: 11;
    position: absolute;
	left: 85%;
	margin: 10% auto;
	-moz-box-shadow: 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow: 0px 1px 0px 0px #f29c93;
	box-shadow: 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:0px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}
.new-btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
	transition: 0.1s;
}
.new-btn:active {
	position:relative;
	transition: 0.1s;
	top:1px;
}

.special-link {
    z-index: 10;
    color: white;
    text-align: center;
    transition: all 0.5s;
    font-family: futura-pt, sans-serif;
	text-decoration: none;
	font-weight: bold;
	-webkit-transiton: .2s all linear;
}

.body {
  text-rendering: optimizeLegibility;
}

.special-link:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.special-link:link {
	margin: 0;
	font: bold 12px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-transition: .2s all linear;
	-moz-transition: .2s all linear;
	-o-transition: .2s all linear;
	font-family: Garamond, serif;
	line-height: 1em;
	color: #fff9d6;
	font-weight:bold;
	font-size: 12px;
	text-shadow:0px 0px 0 rgb(208,208,208),1px 1px 0 rgb(173,173,173), 2px 2px 0 rgb(138,138,138),3px 3px 2px rgba(0,0,0,0.6),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}

.special-link:hover {
  text-decoration: underline;
}

.YTV-0 {
    z-index: 10;
    position: absolute;
	left: 5%;
	top: 55%;
	transition: 0.1s;
	margin: 0;
}

.YTV-1 {
    z-index: 10;
    position: absolute;
	left: 10%;
	top: 15%;
	transition: 0.1s;
	margin: 0;
}

.YTV-2 {
    z-index: 10;
    position: absolute;
	left: 60%;
	top: 15%;
	transition: 0.1s;
	margin: 0;
}

.YTV-3 {
    z-index: 10;
    position: absolute;
	left: 10%;
	top: 55%;
	transition: 0.1s;
	margin: 0;
}

.YTV-4 {
    z-index: 10;
    position: absolute;
	left: 60%;
	top: 55%;
	transition: 0.1s;
	margin: 0;
}

.doomguyfix {
    z-index: 10;
    position: absolute;
	left: 62%;
	top: -5%;
	transition: 0.1s;
	margin: 0;
	height: 125%;
	width: 75%;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.sborks1 {
	opacity: 1;
	line-height: 2em;
	left: 0%;
	margin: 0% auto;
	font-family: Impact;
	font-size: 56px;
	word-spacing: 0px;
	color: #08C941;
	font-weight: 400;
	text-decoration: none;
	
	font-variant: small-caps;
	text-transform: none;
	letter-spacing: .15em;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
}

@-webkit-keyframes sborks1-hover {
  0% { color: #f00; }
  33% { color: #00f; }  
  67% { color: #00f; }
  100% { color: #f00; }
}

@keyframes sborks1-hover {
  0% { color: #f00; }
  33% { color: #00f; }  
  67% { color: #00f; }
  100% { color: #f00; }
}

.sborks1:hover {
	-webkit-animation: sborks1-hover 1s infinite;
	-moz-animation: sborks1-hover 1s infinite;
	animation: sborks1-hover 1s infinite;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
	opacity: 1;
	border-bottom-color: green;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
	top:-2px;
}

.sborks1:link {
	border-bottom: 1px solid blue;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
}

.sborks1:visited {
	text-decoration: none;
}

.sborks2 {
	opacity: 1;
	line-height: 2em;
	left: 0%;
	margin: 0% auto;
	font-family: Impact;
	font-size: 56px;
	word-spacing: 0px;
	color: #08C941;
	font-weight: 400;
	text-decoration: none;
	
	font-variant: small-caps;
	text-transform: none;
	letter-spacing: .15em;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
}

@-webkit-keyframes sborks2-hover {
  0% { color: #fdeaa8; }
  12% { color: #ff9900; }  
  25% { color: #fff; }  
  50% { color: #fff; }  
  75% { color: #fff; }
  87% { color: #ff9900; }
  100% { color: #08c941; }
}

@keyframes sborks2-hover {
  0% { color: #fdeaa8; }
  12% { color: #ff9900; }  
  25% { color: #fff; }  
  50% { color: #fff; }  
  75% { color: #fff; }
  87% { color: #ff9900; }
  100% { color: #08c941; }
}

.sborks2:hover {
	-webkit-animation: sborks2-hover 5s;
	-moz-animation: sborks2-hover 5s;
	animation: sborks2-hover 5s;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
	opacity: 1;
	border-bottom-color: green;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
	top:-2px;
}

.sborks2:link {
	border-bottom: 1px solid blue;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
}

.sborks2:visited {
	text-decoration: none;
}

.sborks3 {
	opacity: 1;
	line-height: 2em;
	left: 0%;
	margin: 0% auto;
	font-family: Impact;
	font-size: 56px;
	word-spacing: 0px;
	color: #08C941;
	font-weight: 400;
	text-decoration: none;
	
	font-variant: small-caps;
	text-transform: none;
	letter-spacing: .15em;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
}

@-webkit-keyframes sborks3-hover {
  0% { color: #08c941; }
  12% { color: #bbbbbb; }  
  25% { color: #08c941; }  
  50% { color: #bbbbbb; }  
  75% { color: #08c941; }
  87% { color: #bbbbbb; }
  100% { color: #08c941; }
}

@keyframes sborks3-hover {
  0% { color: #08c941; }
  12% { color: #bbbbbb; }  
  25% { color: #08c941; }  
  50% { color: #bbbbbb; }  
  75% { color: #08c941; }
  87% { color: #bbbbbb; }
  100% { color: #08c941; }
}

.sborks3:hover {
	-webkit-animation: sborks3-hover 2s infinite;
	-moz-animation: sborks3-hover 2s infinite;
	animation: sborks3-hover 2s infinite;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
	opacity: 1;
	border-bottom-color: green;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
	top:-2px;
}

.sborks3:link {
	border-bottom: 1px solid blue;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
}

.sborks3:visited {
	text-decoration: none;
}

.sborks4 {
	opacity: 1;
	line-height: 2em;
	left: 0%;
	margin: 0% auto;
	font-family: Impact;
	font-size: 56px;
	word-spacing: 0px;
	color: #08C941;
	font-weight: 400;
	text-decoration: none;
	
	font-variant: small-caps;
	text-transform: none;
	letter-spacing: .15em;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
}

@-webkit-keyframes sborks4-hover1 {
  0% { color: #08c941; }
  33% { color: #600; }  
  67% { color: #bbbbbb; }
  100% { color: #08c941; }
}

@keyframes sborks4-hover1 {
  0% { color: #08c941; }
  33% { color: #600; }  
  67% { color: #bbbbbb; }
  100% { color: #08c941; }
}

@-webkit-keyframes sborks4-hover2 {
  0% { color: #b00; }  
  15% { color: #d00; }  
  25% { color: #f00; }
  50% { color: #d00; }  
  75% { color: #f00; }
  95% { color: #d00; }  
  100% { color: #f00; }
}

@keyframes sborks4-hover2 {
  0% { color: #b00; }  
  15% { color: #d00; }  
  25% { color: #f00; }
  50% { color: #d00; }  
  75% { color: #f00; }
  95% { color: #d00; }  
  100% { color: #f00; }
}

.sborks4:hover {
	-webkit-animation: sborks4-hover1 3s 1 linear, sborks4-hover2 6s infinite linear;
	-moz-animation: sborks4-hover1 3s 1 linear, sborks4-hover2 6s infinite linear;
	animation: sborks4-hover1 3s 1 linear, sborks4-hover2 6s infinite linear;
	text-shadow: 1px -1px 0 #333, -1px 2px 1px #333;
	opacity: 1;
	border-bottom-color: green;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
	top:-2px;
}

.sborks4:link {
	border-bottom: 1px solid blue;
	text-decoration: none;
    position: relative;
	transition: 2.5s;
}

.sborks4:visited {
	text-decoration: none;
}

.socialIcons {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 70px;
  text-align: center;
}
.socialIcons li {
  display: inline-block;
  margin: auto 10px;
}
.socialIcons li a {
  text-align: center;
  display: inline-block;
  font-size: 4rem;
  height: 100px;
  width: 100px;
  line-height: 100px;
  color: #008800;
  transition: all ease 0.5s;
  text-shadow: 0px 0px 1px black, 0px 0px 1px black;
  transform: rotateX(-30deg);
}
.socialIcons li a:hover {
  transform: rotateX(-30deg) translateY(-20px);
}
.socialIcons li a:hover.vk {
  color: #00FF00;
  text-shadow: 0px 0px 0px #00FF00,0px 1px 2px #008800,0px 2px 2px #009900,0px 3px 2px #00aa00,0px 4px 2px #00bb00,0px 5px 2px #00cc00,0px 6px 2px #00dd00,0px 7px 2px #00ee00,0px 8px 2px #00ff00,0px 9px 2px black,0px 10px 2px black;
}
.socialIcons li a:hover.steam {
  color: #00FF00;
  text-shadow: 0px 0px 0px #00FF00,0px 1px 2px #008800,0px 2px 2px #009900,0px 3px 2px #00aa00,0px 4px 2px #00bb00,0px 5px 2px #00cc00,0px 6px 2px #00dd00,0px 7px 2px #00ee00,0px 8px 2px #00ff00,0px 9px 2px black,0px 10px 2px black;
}
.socialIcons li a:hover.instagram {
  color: #00FF00;
  text-shadow: 0px 0px 0px #00FF00,0px 1px 2px #008800,0px 2px 2px #009900,0px 3px 2px #00aa00,0px 4px 2px #00bb00,0px 5px 2px #00cc00,0px 6px 2px #00dd00,0px 7px 2px #00ee00,0px 8px 2px #00ff00,0px 9px 2px black,0px 10px 2px black;
}
.socialIcons li a:hover.googlePlus {
  color: #00FF00;
  text-shadow: 0px 0px 0px #00FF00,0px 1px 2px #008800,0px 2px 2px #009900,0px 3px 2px #00aa00,0px 4px 2px #00bb00,0px 5px 2px #00cc00,0px 6px 2px #00dd00,0px 7px 2px #00ee00,0px 8px 2px #00ff00,0px 9px 2px black,0px 10px 2px black;
}
.socialIcons li a:hover.youtube {
  color: #00FF00;
  text-shadow: 0px 0px 0px #00FF00,0px 1px 2px #008800,0px 2px 2px #009900,0px 3px 2px #00aa00,0px 4px 2px #00bb00,0px 5px 2px #00cc00,0px 6px 2px #00dd00,0px 7px 2px #00ee00,0px 8px 2px #00ff00,0px 9px 2px black,0px 10px 2px black;
}

.layer {
  font: 25px/0.65 'Helvetica Neue', 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
  white-space: pre;
  text-align: center;
  color: #fff;
  letter-spacing: -2px;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    line-height: 1;
}

.snowflake {
  color: #fff;
  font-size: .5em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%;
    }

    100% {
        top: 100%;
    }
}

@-webkit-keyframes snowflakes-shake {
    0%{
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }

  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  0%{
    transform: translateX(0px);
  }

  50% {
    transform: translateX(80px);
  }

  100% {
    transform: translateX(0px);
  }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;

    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;

    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
}
.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s;
}
.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s;
}

@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

.box {
  width: 33%;
  position: relative;
  height: 100%;
  &.small {
    background-color: #86D0F2;
  }
  &.medium {
    background-color: #F4C4D5;
  }
}
.glitch {
  font-size: 130px;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-decoration: none;
  color: #fff;
  &:before,
  &:after{
    display: block;
    content: '10';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
  }
  &:after {
    color: #f0f;
    z-index: -2;
  }
  &:before {
    color: #0ff;
    z-index: -1;
  }
  &:hover {
    &:before {
      animation: glitch-left .3s cubic-bezier(.25, .46, .45, .94) both infinite
    }
    &:after {
      animation: glitch-left-2 .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite
    }
  }
  .small & {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    &:before,
    &:after{
      content: 'Start';
    }
    &:after {
      color: #F40080;
    }
    &:before {
      color: #7FA500;
    }
    &:hover {
    &:before {
        animation: glitch-small .5s cubic-bezier(.25, .46, .45, .94) both infinite
      }
      &:after {
        animation: glitch-small .5s cubic-bezier(.25, .46, .45, .94) reverse both infinite
      }
    }
  }
  .medium & {
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    color: #4222F1;
    &:before,
    &:after{
      content: 'CSS Glitch';
    }
    &:after {
      color: #C487C2;
    }
    &:before {
      color: #00FF02;
    }
    &:hover {
    &:before {
        animation: glitch-medium .5s cubic-bezier(.25, .46, .45, .94) both infinite
      }
      &:after {
        animation: glitch-medium .5s cubic-bezier(.25, .46, .45, .94) reverse both infinite
      }
    }
  }
}
@keyframes glitch-small {
    0% {
        transform: translate(0)
    }
    33% {
        transform: translate(2px, 1px)
    }
    66% {
        transform: translate(-1px, -1px)
    }
    to {
        transform: translate(0)
    }
}
@keyframes glitch-medium {
    0% {
        transform: translate(0)
    }
    20% {
        transform: translate(-2px, 2px)
    }
    40% {
        transform: translate(-2px, -2px)
    }
    60% {
        transform: translate(2px, 2px)
    }
    80% {
        transform: translate(2px, -2px)
    }
    to {
        transform: translate(0)
    }
}
@keyframes glitch-left {
    0% {
        transform: translate(0)
    }
    33% {
        transform: translate(-5px, 3px)
    }
    66% {
        transform: translate(5px, -3px)
    }
    to {
        transform: translate(0)
    }
}
@keyframes glitch-left-2 {
    0% {
        transform: translate(0)
    }
    33% {
        transform: translate(-5px, -3px)
    }
    66% {
        transform: translate(5px, 2px)
    }
    to {
        transform: translate(0)
    }
}

.vremenno {
	position: relative;
	top: 20%;
	left: 40%;
}

.😎 {
	font-weight: bold;
	text-align:center;
	font-size: 45px;
	position: relative;
	left: 5%;
	top: 15%;
	color: #FFFFFF;
	text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}